body {
    background-color: whitesmoke;
}

h1 {
    color:red;
    font-size: 50px;
}
p {
    font-weight: 800;
}
h3 {
    color:blueviolet;
}
h3:hover{
    color:darkgreen;
}
a:visited {
    color: grey;

}
.albumas li:first-child {
    text-decoration: underline;
}